<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="google-site-verification" content="iUuSf4IGz0Fd-tHTdeN7Nt02HgeVecOhNkeom8J8yzU" />
</head>

<body>


<form action="#" th:action="@{/}" th:object="${book}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><label>
                <input type="text" th:field="*{title}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </tr><tr>
            <td>Author:</td>
            <td><label>
                <input type="text" th:field="*{author}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</td>
        </tr><tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>


</body>
</html>